<html>
    <head>
        <title>PathShala | Login</title>
        <link rel="stylesheet" href="../../resources/css/autumn.css"/>
    </head>
    <body>
        <div class="body">
            <div class="card">
                <div class="form">
                    <div class="form-header">
                        <div class="title"> Login  </div>
                        <div class="desc">Login with your username and password to start coding </div>
                    </div>
                    <div class="form-body">
                        
                        <div class="element">
                            <div class="label"> Username </div>
                            <div class="control">
                                <input type="text" id="username" class="textbox"/>
                            </div>
                        </div>
                        <div class="element">
                            <div class="label"> Password </div>
                            <div class="control">
                                <input type="password" id="pswd" class="textbox"/>
                            </div>
                        </div>
                        <div class="element footer">
                            <div class="control">
                                <input type="submit" value="Login" class="button" onclick="login()"/>
                            </div>
                            <div class="control">
                                <input type="submit" value="Join autumn" class="button" onclick="document.location='/public/signup'"/>
                            </div>
                        </div>
                    </div>
                    <div class="form-footer"></div>
                </div>     
            </div>
        </div>
    </body>
</html>